/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 5 Jun 2026, 22.00.54
    Author     : Callista A. Putri
*/

:root {
    --primary: #222223;
    --secondary: #0E0C13;
    --accent: #65F1CE;

    --text-main: #FFFFFF;
    --text-secondary-gradient: linear-gradient(90deg, #0B8A6A, #5EEAC7);

    --chat-sender-bubble: #429683;
    --chat-receiver-bubble: #4E4E50;
}
