*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#02010f;
    color:white;
    min-height:100vh;
}

/* NAVBAR */

.navbar{
    height:85px;
    background:#202020;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
}

.logo{
    font-size:20px;
    font-weight:700;
    letter-spacing:2px;
}

.nav-icons{
    display:flex;
    gap:25px;
}

.nav-icons a{
    color:#63f1d0;
    text-decoration:none;
    font-size:30px;
}

/* CONTENT */

.container{
    display:flex;
    justify-content:center;
    padding:50px;
}

.payment-card{
    width:850px;
    background:#151515;
    border-radius:20px;
    padding:40px;
}

.payment-card h1{
    text-align:center;
    margin-bottom:20px;
}

.note{
    text-align:center;
    margin-bottom:25px;
    color:#cfcfcf;
}

/* QR */

.qr-container{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}

.qr-container img{
    width:280px;
    height:280px;
    background:white;
    padding:10px;
}

/* COUNTDOWN */

.countdown{
    text-align:center;
    margin-bottom:30px;
}

.countdown h3{
    margin-bottom:10px;
}

.countdown span{
    font-size:42px;
    font-weight:bold;
    color:#5eead4;
}

/* DETAIL */

.transaction-detail{
    margin-top:30px;
}

.row{
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #333;
}

.row strong{
    color:#5eead4;
}

/* BUTTON */

.button-group{
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.paid-btn{
    width:250px;
    height:70px;
    border:none;
    border-radius:15px;
    background:#5eead4;
    color:black;
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
}

.expired-btn{
    width:250px;
    height:70px;
    border:none;
    border-radius:15px;
    background:#555;
    color:white;
    font-size:20px;
}